.menu {
  .menu-label {
    display: flex;
    font-weight: 600;
    color: var(--app-setting-menu-label-color);
    --bulma-menu-label-color: var(--app-setting-menu-label-color);
  }

  .menu-list {
    --bulma-menu-item-radius: var(--app-setting-menu-item-radius);
    a {
      &:hover {
        background-color: var(--app-setting-menu-item-hover-background);
      }
      &.is-active {
        background-color: var(--app-setting-menu-item-active-background);
      }
    }
  }
}
