.button {
  border-radius: var(--app-button-border-radius);
  border-color: var(--app-button-border-color);
  background-color: var(--app-button-background);
  &.is-primary {
    background-color: var(--app-button-primary-background);
    &:hover {
      background-color: var(--app-button-primary-hover);
    }
  }
  &.is-link {
    background-color: var(--app-button-link-background);
    &:hover {
      background-color: var(--app-button-link-hover);
    }
  }
  &.is-info {
    background-color: var(--app-button-info-background);
    &:hover {
      background-color: var(--app-button-info-hover);
    }
  }
  &.is-success {
    background-color: var(--app-button-success-background);
    &:hover {
      background-color: var(--app-button-success-hover);
    }
  }
  &.is-warning {
    background-color: var(--app-button-warning-background);
    &:hover {
      background-color: var(--app-button-warning-hover);
    }
  }
  &.is-danger {
    background-color: var(--app-button-danger-background);
    &:hover {
      background-color: var(--app-button-danger-hover);
    }
  }
}
