:root[data-theme="oneDark"] {
  --app-font-color: rgb(238, 238, 238);
  --app-header-height: 40px;
  --app-pane-background-1: #414246;
  --app-pane-background-2: #37383c;
  --app-pane-padding-size: 0 8px;
  --app-setting-pane-height: 60vh;
  --app-setting-pane-width: 60vw;
  --app-file-tree-hover: rgb(255, 255, 255, 10%);
  --app-file-tree-selected: rgb(255, 255, 255, 20%);
  --app-model-background-background-color: hsla(221, 14%, 4%, 0.86);
  --app-dropdown-content-border-radius: 0.25rem;
  --app-dropdown-content-background: rgba(230, 230, 230, 0.99);
}

// button
:root[data-theme="oneDark"] {
  --app-button-border-radius: 6px;
  --app-button-border-color: rgb(23, 26, 31);
  --app-button-background: rgb(35, 38, 46);
  --app-button-hover: rgb(35, 38, 46);
  --app-button-primary-background: rgb(41, 66, 255);
  --app-button-primary-hover: white;
  --app-button-primary-light-background: rgb(41, 66, 255);
  --app-button-primary-light-hover: white;
  --app-button-info-background: rgb(41, 66, 255);
  --app-button-info-hover: white;
  --app-button-info-light-background: rgb(41, 66, 255);
  --app-button-info-light-hover: white;
  --app-button-success-background: rgb(41, 66, 255);
  --app-button-success-hover: white;
  --app-button-success-light-background: rgb(41, 66, 255);
  --app-button-success-light-hover: white;
  --app-button-warning-background: rgb(41, 66, 255);
  --app-button-warning-hover: white;
  --app-button-warning-light-background: rgb(41, 66, 255);
  --app-button-warning-light-hover: white;
  --app-button-danger-background: rgb(41, 66, 255);
  --app-button-danger-hover: white;
  --app-button-danger-light-background: rgb(41, 66, 255);
  --app-button-danger-light-hover: white;
}

// sidebar theme
:root[data-theme="oneDark"] {
  --app-sidebar-background: #414246;
  --app-sidebar-color: #ffffff;
  --app-sidebar-menu-item-hover: #59595a;
  --app-sidebar-menu-item-active: #006dff;
}

// splitter theme setting
:root[data-theme="oneDark"] {
  --app-splitter-gutter-color-v: #37383c;
  --app-splitter-gutter-color-h: #414246;
  --app-splitter-gutter-hover: #006dff;
}

// tooltip theme setting
:root[data-theme="oneDark"] {
  --app-tooltip-color: white;
  --app-tooltip-background: #1f1f1fe5;
}

// menu theme setting
:root[data-theme="oneDark"] {
  --app-setting-menu-label-color: rgba(202, 199, 191, 0.65);
  --app-setting-menu-item-color: green;
  --app-setting-menu-item-hover-background: rgb(218, 32, 109);
  --app-setting-menu-item-active-color: green;
  --app-setting-menu-item-active-background: rgb(41, 66, 255);
  --app-setting-menu-item-radius: 0.25rem;
}

// multi-select theme setting
:root[data-theme="oneDark"] {
  --app-multi-select-color: white;
  --app-multi-select-background: #1f1f1f;
}
