.splitpanes {
  color: var(--app-font-color);
  &.splitpanes--vertical > .splitpanes__splitter {
    min-width: 3px !important;
  }
  &.splitpanes--horizontal > .splitpanes__splitter {
    min-height: 3px !important;
  }
  .splitpanes__splitter {
    background-color: var(--app-splitter-gutter-color-h);
    &:hover {
      background-color: var(--app-splitter-gutter-hover);
    }
  }
}
