.tooltip {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: var(--app-tooltip-background);
  border-radius: 5px;
  z-index: 999;
  .tooltip-content {
    color: var(--app-tooltip-color);
    margin: 5px;
  }
}
