@import "./themes/oneDark";
@import "./themes/common.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  user-select: none;
  #app {
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
  }
}

.app-header {
  height: var(--app-header-height);
}
